<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluno Cadastrado</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Aluno Cadastrado com Sucesso</h1>
    <p>Registro Acadêmico: {{ aluno.registro_academico }}</p>
    <p>Nome: {{ aluno.nome }}</p>
    <p>Email: {{ aluno.email }}</p>
    <p>Telefone: {{ aluno.telefone }}</p>
    <nav class="menu">
        <ul>
            <li><a href="/dashboard">Voltar ao Dashboard</a></li>
        </ul>
    </nav>
    <footer>
        <p>&copy; 2025 Sistema de Emissão de Certificados. Todos os direitos reservados.</p>

    </footer>
</body>
</html>