<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Emissão de Certificados</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <h1>Sistema de Emissão de Certificados</h1>
    </header>

    <main>

        <section id="login">
            <h2>Login de Professor</h2>
            <form action="/token" method="post">
                <label for="login-email">Email:</label>
                <input type="email" id="login-email" name="email" required><br><br>
                
                <label for="login-password">Senha:</label>
                <input type="password" id="login-password" name="password" required><br><br>
                
                <button type="submit">Entrar</button>
                <nav class="menu">
                    <ul>
                        <li><a href="cadastrooficina.html">Cadastro Oficina</a></li>
                        <li><a href="/app/templates/cadastroprofessor.html">Cadastro Professor</a></li>
                        <li><a href="/app/templates/presenca.html">Presença</a></li>
                    </ul>
                </nav>
            </form>
        </section>


    </main>

    <script src="static/scripts.js"></script>
</body>
</html>
