<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professor Cadastrado com Sucesso</title>
    <link rel="stylesheet" href="/static/style.css">
    <script>

        setTimeout(function() {
            window.location.href = "/dashboard";
        }, 5000);
    </script>
</head>
<body>
    <header>
        <h2>Professor Cadastrado com Sucesso</h2>
    </header>
    <main>
        <section>
            <h1>Professor Cadastrado com Sucesso</h1>
            <p>Redirecionando para o dashboard em 5 segundos...</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Sistema de Emissão de Certificados. Todos os direitos reservados.</p>
    </footer>
</body>
</html>